.tags{
    position: relative; right: 10px;
}

.nutritionFacts{
    position: relative; left: 10px;
}

.stepsFacts{
    position: relative; right: 10px;
}

.ingredientsFacts{
    position: relative; left: 10px;
}

.RecipeName{
    position: relative; top: 20px; right: 10px;
}

.RecipeMinutes{
    position: relative; top: 20px; left: 10px;
}

.HomePageBox1{
  margin: 10px;
  margin-right:350px;
  margin-left:350px;
  justify-content: center;
  padding-bottom: 1%;
  box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
  background-color:white;
  border-radius: 30px;
}

#recipeDescription{
    width: 150%;
}

.increase{
    background-color: orange;
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.decrease{
    background-color: orange;
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin:10px;
}
