.HomePageBox{ /* landing page screen */
  margin: 10px;
  margin-right:350px;
  margin-left:350px;
  justify-content: center;
  padding-bottom: 15%;
  box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
  background-color:white;
  border-radius: 30px;
}

#HomePageWords{
  position:relative;
  top: 45px;
}


#SearchRecipesWords{
  font-weight: bold;
  position:relative;
  left:-160px;
  top: 101px;
}

#SearchRecipesButton{
  position:relative;
  left:-160px;
  top: 121px;
  height: 50px;
  width: 20%;
  background: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
#SearchRecipesButton:Hover{
  background: rgb(255, 98, 0);
}


#YourRecipesWords{
  font-weight: bold;
  position:relative;
  left:160px;
  top: 32px;
}

#YourRecipesButton{
  position:relative;
  left:160px;
  top: 52px;
  height: 50px;
  width: 20%;
  background: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
#YourRecipesButton:Hover{
  background: rgb(255, 98, 0);
}


#CreateRecipesWords{
  font-weight: bold;
  position:relative;
  left:-160px;
  top: 121px;
}

#CreateRecipesButton{
  position:relative;
  left:-160px;
  top: 141px;
  height: 50px;
  width: 20%;
  background: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
#CreateRecipesButton:Hover{
  background: rgb(255, 98, 0);
}




#YourProfileWords{
  font-weight: bold;
  position:relative;
  left:160px;
  top: 52px;
}

#YourprofileButton{
  position:relative;
  left:160px;
  top: 72px;
  height: 50px;
  width: 20%;
  background: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
#YourprofileButton:Hover{
  background: rgb(255, 98, 0);
}
