@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-image: url('../images/food2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#paradiseText {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    text-align:center;
    margin-top:0;
}
.register-app{
    display:flex;
    justify-content: center;
}
.login-app{
    display:flex;
    justify-content: center;
}
#register{
    margin-left:50px;
    margin-right:50px;
}

#login{
    margin-left:50px;
    margin-right:50px;
}

.register-input{
    display:grid;
    grid-template-columns: auto auto;
}
#registerButtonBox{
    margin-bottom:25px;
}
#loginButtonBox{
    margin-bottom:40px;
}

.input-item{
    margin-left:10px;
    margin-right:10px;
}

#paradiseLogo {
    width: 225px;
}
.form-container {
    background-color: white;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
.form-main-register{
    justify-content:center;
    width:50%;
    text-align:center;
}
.form-main-login{
    justify-content:center;
    width:500px;
    text-align:center;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 20px 10px #2e2e2e1f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn-login {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: orange;
    border-radius: 30px;
}
#btn-register {
    top: 0;
    left: 110px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: orange;
    border-radius: 30px;
}


label {
    color: black;
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
    text-align: left;
}

input[type = text] {
    border: 1px solid gray;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: 1.2em;
}

input[type = password] {
    border: 1px solid gray;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: 1.2em;
}


input[type = submit] {
    background: orange;
    border: none;
    width: 70%;
    color: white;
    font-weight: bold;
    margin-top: 1.2em;
    padding: 1em 0;
    border-radius: 50px;
    font-size: 1.3em;
    cursor: pointer;
}

#LoginButton:hover{
    background: rgb(255, 98, 0);
}

#RegisterButton{
    width: 250px;
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#RegisterButton:hover{
    background: rgb(255, 98, 0);
}

#ConfirmButton{
    width: 125px;
    height: 45px;
    position: relative;
    top: -10px;
    left: -10px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#ConfirmButton:hover{
    background: rgb(255, 98, 0);
}

#Register1Button{
    width: 250px;
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    top: 15px;
}

#Register1Button:hover{
    background: rgb(255, 98, 0);
}

input:invalid {
    background-color: #ffdddd;
  }
form:invalid {
    border: 5px solid #ffdddd;
  }
input:required {
    border-color: #800000;
    border-width: 3px;
  }

#signUpResult {
    position: relative;
    top: 20px;
}

#toggle-selected {
    color: white;
}

#toggle-unselected {
    color: black;
}

#login {
    left: 50px;
}

#forgotPasswordButton:hover{
    color:#800000;
}

#SendEmailButton{
    width: 250px;
    height: 40px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    left: -15px;
}

#SendEmailButton:hover{
    background: rgb(255, 98, 0);
}

#ReturnXButton{
    width: 250px;
    height: 40px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    left: 15px;
}

#ReturnXButton:hover{
    background: rgb(255, 98, 0);
}


@media (min-width: 930px) {
    header {
        text-align: left;
    }

    #network {
        margin-left: 1.2em;
    }
}

#forgotPasswordButton{
    border: none;
    color: red;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
}

.verifyEmailBox{
    display: none;
}

.fullyRegister{
    display: none;
    width: 80%;
}

.usernameInUse{
    display:none;
}
