
.SearchPageBox{
    position:relative;
    top: -5px;
    margin-right:200px;
    margin-left:200px;
    justify-content: center;
    padding-bottom: 3%;
    zoom:95%;
    box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
    background-color:white;
    border-radius: 30px;
}

@media only screen and (max-width: 1500px) { /* Changes the size for smaller than 1200 width screens */
    .SearchPageBox{
        position:relative;
        margin-right:200px;
        margin-left:200px;
        zoom: 90%;
        justify-content: center;
        padding-bottom: 2%;
        box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
        background-color:white;
        border-radius: 30px;
    }
  }

@media only screen and (max-width: 1400px) { /* Changes the size for smaller than 1400 width screens */
    .SearchPageBox{
        position:relative;
        margin-right:200px;
        margin-left:200px;
        zoom: 80%;
        justify-content: center;
        padding-bottom: 4%;
        box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
        background-color:white;
        border-radius: 30px;
    }
  }

  @media only screen and (max-width: 1250px) { /* Changes the size for smaller than 1200 width screens */
    .SearchPageBox{
        position:relative;
        margin-right:200px;
        margin-left:200px;
        zoom: 75%;
        justify-content: center;
        padding-bottom: 5%;
        box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
        background-color:white;
        border-radius: 30px;
    }
  }

  @media only screen and (max-width: 1000px) { /* Changes the size for smaller than 1200 width screens */
    .SearchPageBox{
        position:relative;
        margin-right:200px;
        margin-left:200px;
        zoom: 65%;
        justify-content: center;
        padding-bottom: 10%;
        box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
        background-color:white;
        border-radius: 30px;
    }
  }



#SearchPageWords{
    position:relative;
    top: 15px;
}

#SearchInput{
    width: 600px;
    height: 35px;
    border-radius:10px;
    position:relative;
    top: 10px;
    left: -10px;
    background-color: none;
    font-weight:bolder;
    color:black;    
}

#SearchButton{
    width: 125px;
    height: 40px;
    position:relative;
    top: 12px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}


#SearchButton:Hover{
  background: rgb(255, 98, 0);
}

#RecipeTable{
    position:relative;
    top: 15px;
    border-color:black;
    height: 130%;
    max-height: 508px;
    width: 70%;
    overflow:auto;
}

#ResetButton{
    width: 125px;
    height: 40px;
    position:relative;
    top: 12px;
    left: 5px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#ResetButton:Hover{
    background: rgb(255, 98, 0);
}

.RecipeBox{
    width: 140px;
    height: 140px;
    margin: 10px;
    border: none;
    margin-top: 15px;
    box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.188) , -0.2px -0.2px 2px 2px rgba(0, 0, 0, 0.188);
    background-color:lightblue;
    border-radius: 30px;
    font-weight: bold;
}

.RecipeBox:hover{
    background-color:turquoise;
}





/* Popup styles */
.popup-box {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
 
}
 
.popbox {
  position: relative;
  width: 70%;
  height: 520px;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
  margin-top: 35px;
}
 


#PopupButton{
    width: 125px;
    height: 45px;
    position:relative;
    top: 130px;
    left: 5px;
    margin: 5px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#PopupButton:hover{
    background: rgb(255, 98, 0);
}

#PopupCloseButton{
    width: 125px;
    height: 45px;
    position:relative;
    top: 140px;
    left: 25px;
    margin: 5px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
}

#PopupCloseButton:hover{
    background: rgb(255, 98, 0);
}
